<nav class="navbar navbar-dark bg-black border-bottom border-dark py-3">
  <div class="container-fluid px-3 navbar-grid">
    <!-- IZQUIERDA -->
    <div class="d-flex gap-3 justify-content-end pe-4 nv-links-left">
      <a routerLink="/home" class="nav-link text-white">Barbería</a>
      <a routerLink="/service" class="nav-link text-white">Servicios</a>
      <a routerLink="/contact" class="nav-link text-white">Contactanos</a>
    </div>

    <!-- LOGO CENTRO -->
    <a routerLink="/home" class="navbar-brand m-0 text-center">
      <img
        src="newlogo.png"
        alt="Logo Lion Warrior Company"
        width="140"
        height="120"
        loading="lazy"
      />
    </a>

    <!-- DERECHA -->
    <div class="d-flex align-items-center gap-3 ps-4 justify-content-between nv-links-right">
      <div class="d-flex gap-3">
        <a routerLink="/distrilion" class="nav-link text-white">DistriLion</a>
        <a href="#" class="nav-link text-white">Joyeria</a>
        <a
          href="https://wa.me/573123499989?text=Hola!%20Quiero%20información%20sobre%20los%20servicios%20de%20Lion%20Warrior%20Company"
          target="_blank"
          class="whatsapp-float nav-link text-white"
          >Haz tu pedido</a
        >
      </div>
      <div class="icon-login">
        <a tooltip="Iniciar sesión" class="icon" routerLink="/login">
          <i class="bi bi-person-circle"></i>
        </a>
      </div>
    </div>
  </div>
</nav>
