
<div animate.enter class="page-fade-in">

<div class="login-page">


    <!--IZQUIERDA-->
    <div class="login-left">
        <img src="newlogo.png" alt="Logo" class="login-logo">
            <h1>¡Bienvenido de <span>Vuelta!</span></h1>
            <p>Inicio de sesion de Lion <strong>Warrior Company.</strong> 
                Gestiona citas, servicios y clientes.</p>
    </div>

    <!-- DERECHA-->
    <div class="login-right">
        <div class="login-box"[class.shake]="shake">
            <!--TITULO-->
            <h2 class="fw bold mb-1">Acceso Profesional</h2>
            <p class="text-secondary small mb-4">Ingreso exclusivo para miembros Lion Warrior Company</p>
       
            <!--CORREO-->
            <div class="mb-3">
                <input type="email" class="form-control custom-input" placeholder="ejemplo@gmail.com" 
                name="email" id="email" [(ngModel)]="email" required>
                <small class="text-danger" *ngIf="emailError">{{ emailError }}</small>
                
            </div>

            <!--CONSTRASEÑA-->
            <div class="mb-3 password-box">
                <input type="password" class="form-control custom-input" placeholder="Constraseña" id="password"
                name="password" [(ngModel)]="password" required>
                <i class="bi bi-eye password-toggle" (click)="togglePassword('password')"></i>
                <small class="text-danger" *ngIf="passwordError">{{ passwordError }}</small>

            </div>

            <!--OPCIONES-->
            <div class="d-flex justify-content-between align-items-center mb-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label small">Recordarme</label>
                </div>
                <a href="#" class="forgot-password">¿Olvidaste la contraseña?</a>
            </div>

            <!--BOTON-->
            <small class="text-danger" *ngIf="loginError">{{ loginError }}</small>
            <button class="btn login-btn w-100 mb-3" (click)="onSubmit()">Ingresar</button>

            <!--REGISTRO-->
            <div class="text-center mb-4">
                <p class="small secondary"> 
                    ¿No tienes cuenta?
                    <a routerLink="/register" class="register-link">Registrate aquí</a>
                </p> 
            </div>

        </div>
    </div>
    <!-- BOTON CLIENTE -->
    <a href="https://wa.me/573123499989?text=Hola!%20Quiero%20información%20sobre%20los%20servicios%20de%20Lion%20Warrior%20Company"
        target="_blank"
        class="client-btn">
     <span class="client-btn-text">
        ¿Sin registro? <strong>Reserva aquí</strong>
     </span>
       <i class="bi bi-arrow-right-circle client-btn-arrow"></i>
    </a>
</div>

</div>